html,body{
    margin: 0; padding: 0
}
body {
    font-size: 16px;
    -webkit-user-select: none;
    -webkit-text-size-adjust: none;
    /* font-family: "Microsoft Yahei", helvetica;
    background: #f7f7f7;*/
    color: #333;
    /*position: relative;*/
    word-break: break-all;
    word-wrap: break-word;
}

.content {
    min-height: calc(100vh - 100px);
    position: relative;
    height:65%;
}

.site-header {
    position: relative;
    text-align: center;
    background-color: #E48632;
    color: #fff;
    margin-bottom: 0;
}

.navbar {
    margin-bottom: 0px;
}

.navbar-brand {
    float: left;
    height: 50px;
    color: #fff;
}

#footer .copy-right {
    background-color: rgba(51, 51, 51, .08);
    height: 50px;
    line-height: 50px;
    text-align: center;
}

.introduction {
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 1px;
    border: 2px solid #F9F9F9;
    border-radius: 10px;
    -moz-border-radius: 25px;
    /* 老的 Firefox */
    background: rgba(51, 51, 51, .08);
    padding: 5px 5px;
}

p {
    margin: 1em;
    line-height: 1.8;
}

#start {
    display: block;
    background-color: #175B98;
    margin: 20px auto;
    width: 100px;
    height: 50px;
    color:#fff;
}

.button {
    position: relative;
    display: block;
    margin: 20px 20px;
    background-color: #FFFFFF;
    border-radius: .2em;
    border: 1px solid #D5D5D5;
}

label {
    position:relative;
    display: block;
    width: 100%;
    height: 100%;
    margin-bottom: 0px;
    cursor: pointer;
    padding: 10px 15px 10px 28px;
}

#quest {
    margin-top:30px;
    display: none;
    height:60%;
}

.container{
    height:100%;
}

input[type="radio"] {
    display: none;
}

.progress {
    display:none;
    position: absolute;
    left: 10%;
    bottom: 0px;
    height: 20px;
    width: 80%;
}

.divQuest {
    display: none;
    margin-bottom: 50px;
}

.progress-bar {
    background-color: #175B98;
}

hr {
    border-color: #E48632;
}

#frame {
    height:100%;
    border-radius:5px;
}

#form1 {
    height:100%;
}

h3{
    background-color:#175B98;
    margin-top:0px;
    margin-bottom:0px;
    height:50px;
    color:#fff;
    line-height:50px;
}

#hr1 {
    margin-top:0px;
    margin-bottom:0px;
    border-color:#34A853;
}

#title{
    padding-left:15px;
    padding-bottom:5px;
    padding-top:15px;
    padding-right:15px;
}

#quest-body{
    padding-left:15px;
    padding-bottom:5px;
    padding-top:15px;
    padding-right:15px;
}

.button label::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    /*left: 2px;
    top: 25%;*/
    margin-left: -22px;
    border: 1px solid #cccccc;
    border-radius: 50%;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}

.button label::after {
    position: absolute;
    width: 16px;
    height: 16px;
    top:12px;
    left:8px;
    padding-left: 1px;
    padding-bottom:2px;
    font-size: 14px;
    color: #fff;
}

.button input[type="radio"]:checked + label::before {
    background-color:#1EA0FA;
}

.button input[type="radio"]:checked + label::after {
    font-family: "FontAwesome";
    content: "\f00c";
}

#btn {
    text-align:center;
}

.butn {
    background-color:#175B98;
    color:#fff;
    width:70px;
    height:40px;
    margin:0px 2%;
}

/*

.button input[type="radio"] {
    opacity: 0;
    z-index: 1;
}

.button label::before {
    border-radius: 50%;
} */