body {
    font-size: 16px;
    -webkit-user-select: none;
    -webkit-text-size-adjust: none;
    font-family: "Microsoft Yahei", helvetica;
    background: #f7f7f7;
    color: #333;
    position: relative;
    word-break: break-all;
    word-wrap: break-word;
}

#toptitle {
    background-color: #1ea0fa;
    padding: 12px 10px;
    width: 100%;
    color: #ffffff;
}

#toptitle .htitle {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    text-align: center;
}

div.formfield {
    display: block;
    padding: 15px 5px 15px;
    margin: 0px 5px 10px;
    clear: both;
    border-bottom: 1px dotted #ccc;
}

span.description {
    font-size: 90%;
}

.list-group-item {
    padding: 0px 15px;
    cursor: pointer;
}

#part2 tr>th>p {
    margin-bottom: 0px;
    height: 42px;
    text-align: center;
    padding: 10px 0px !important;
}

.button {
    width: 100%;
    display: block;
    margin: 10px 0px;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    box-sizing: border-box;
    font-size: 1.2em;
    padding: 9px 0px 9px;
    border-radius: .2em;
}

.button:hover {
    text-decoration: none;
}

.button:active {
    position: relative;
    top: 1px;
}

.blue {
    color: #F7F7F7;
    background: #1ea0fa;
}

.errormessage {
    display: none
}

th {
    background-color: #F7F7F7;
}