{% extends "base.html" %}

{% block content %}
<h2>
    第一部分
</h2>
<h4>
    哪一答案最接近地描述了你通常的思考和行为方式
</h4>

{% for topic in topics %}
<form>
    <div>
        <p>{{topic.title}}</p>
        <div class="radio">
            <label>
                <input type="radio" name="optionsRadios" value="option1" checked>
                {{topic.option1}}
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="optionsRadios" value="option2">
                {{topic.option2}}
            </label>
        </div>
    </div>
    <hr>
    {% empty %}
    <p>-- 暂无内容，敬请期待 --</p>
    {% endfor %}

    <button type="submit" class="btn btn-default">Submit</button>

    <!--下面这个是大概的生成规则-->
    <!--((div#ques-$>p+div.radio*2>label>input[type="radio" name="optionsRadios" value="option$"])+hr)*26-->
</form>
{% endblock %}