{% extends "base.html" %}

{% block content %}

<form class="{{ paper_name }}">
    {% for question_type in question_types %}

    <h2 class="{{ question_type.question_type_id }}">
        {{ question_type.description }}
    </h2>

    {% for question in question_type.questions %}

    <div class="question-{{ question.question_id }}">
        <p>{{question.question_id}}.{{question.title}}</p>
        {% for option in question.options %}
        <div class="radio ">
            <label>
                <input type="radio" name="optionsRadios-{{question.question_id}}" value="option-{{option.option_id}}">
                {{option.option_id}}
                {{option.option_description}}
            </label>
        </div>
        {% endfor %}
    </div>
    <hr>
    {% endfor %}
    {% endfor %}
    <button type="submit"></button>
</form>
{% endblock %}