<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="stylesheet" href="../static/css/awesome-bootstrap-checkbox.css" type="text/css" />
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="../static/css/wenjuan.css" type="text/css">
    <script src="../static/js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="../static/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="../static/js/wenjuan.js" type="text/javascript" charset="utf-8"></script>

</head>

<body>
    <div id="toptitle">
        <h1 class="htitle">大学生心理调查分析</h1>
    </div>
    <div id="divContent">
        <div id="divDesc" class="formfield">
            <span class="description">下面这一问卷用于揭示你是如何看待事物以及如何做决定的，答案无好坏之分，问卷结果有助于你了解自己的职业倾向、个性特征、人际相处的特征。请仔细阅读每一个问题，答案直接写在题目上面。不必对问题想的太多，根据第一感觉回答即可。</span>
        </div>
        <div class="container">
            <div id="divQuestion1">
                <form action="">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <p>第一部分</p>
                            <p>哪一答案最接近地描述了你通常的思考和行为方式</p>
                        </div>
                        <div id="part1">
                            <table class="table" id="div1">
                                <tr>
                                    <th>1、当你某日想去某个地方，你会 ？</th>
                                </tr>

                                <tr>
                                    <td>
                                        <div class="radio">
                                            <input type="radio" name="option1" id="option1_1" value="A">
                                            <label for="option1_1">
                                                                    A.计划好将做的事情以及何时做
                                                                </label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="radio">
                                            <input type="radio" name="option1" id="option1_2" value="B">
                                            <label for="option1_2">
                                                                    B.什么都不想就去
                                                                </label>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="errormessage">
                                    <td style="width: 1200px;">请选择选项
                                    </td>
                                </tr>
                            </table>
                            <table class="table" id="div2">
                                <tr>
                                    <th>1、当你某日想去某个地方，你会 ？</th>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="radio">
                                            <input type="radio" name="option2" id="radio2_1" value="A">
                                            <label for="radio2_1">
                                                                A.计划好将做的事情以及何时做
                                                            </label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="radio">
                                            <input type="radio" name="option2" id="radio2_2" value="B">
                                            <label for="radio2_2">
                                                                B.什么都不想就去
                                                            </label>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="errormessage">
                                    <td style="width: 1200px;">
                                        请选择选项
                                    </td>
                                </tr>
                            </table>
                            <table class="table" id="div3">
                                <tr>
                                    <th>1、当你某日想去某个地方，你会 ？</th>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="radio">
                                            <input type="radio" name="option3" id="radio3_1" value="A">
                                            <label for="radio3_1">
                                                                    A.计划好将做的事情以及何时做
                                                                </label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="radio">
                                            <input type="radio" name="option3" id="radio3_2" value="B">
                                            <label for="radio3_2">
                                                                    B.什么都不想就去
                                                                </label>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="errormessage">
                                    <td style="width: 1200px;">
                                        请选择选项
                                    </td>
                                </tr>
                            </table>
                            <table class="table" id="div4">
                                <tr>
                                    <th>1、当你某日想去某个地方，你会 ？</th>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="radio">
                                            <input type="radio" name="option4" id="radio4_1" value="A">
                                            <label for="radio4_1">
                                                                    A.计划好将做的事情以及何时做
                                                                </label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="radio">
                                            <input type="radio" name="option4" id="radio4_2" value="B">
                                            <label for="radio4_2">
                                                                    B.什么都不想就去
                                                                </label>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="errormessage">
                                    <td style="width: 1200px;">
                                        请选择选项
                                    </td>
                                </tr>
                            </table>
                            <table class="table" id="div5">
                                <tr>
                                    <th>1、当你某日想去某个地方，你会 ？</th>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="radio">
                                            <input type="radio" name="option5" id="radio5_1" value="A">
                                            <label for="radio5_1">
                                                                    A.计划好将做的事情以及何时做
                                                                </label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="radio">
                                            <input type="radio" name="option5" id="radio5_2" value="B">
                                            <label for="radio5_2">
                                                                    B.什么都不想就去
                                                                </label>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="errormessage">
                                    <td style="width: 1200px;">
                                        请选择选项
                                    </td>
                                </tr>
                            </table>
                            <table class="table" id="div6">
                                <tr>
                                    <th>1、当你某日想去某个地方，你会 ？</th>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="radio">
                                            <input type="radio" name="option6" id="radio6_1" value="A">
                                            <label for="radio6_1">
                                                                    A.计划好将做的事情以及何时做
                                                                </label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="radio">
                                            <input type="radio" name="option6" id="radio6_2" value="B">
                                            <label for="radio6_2">
                                                                    B.什么都不想就去
                                                                </label>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="errormessage">
                                    <td style="width: 1200px;">
                                        请选择选项
                                    </td>
                                </tr>
                            </table>
                            <table class="table" id="div7">
                                <th>1、当你某日想去某个地方，你会 ？</th>
                                <tr>
                                    <td>
                                        <div class="radio">
                                            <input type="radio" name="option7" id="radio7_1" value="A">
                                            <label for="radio7_1">
                                                                    A.计划好将做的事情以及何时做
                                                                </label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="radio">
                                            <input type="radio" name="option7" id="radio7_2" value="B">
                                            <label for="radio7_2">
                                                                    B.什么都不想就去
                                                                </label>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="errormessage">
                                    <td style="width: 1200px;">
                                        请选择选项
                                    </td>
                                </tr>
                            </table>
                            <table class="table" id="div8">
                                <th>1、当你某日想去某个地方，你会 ？</th>
                                <tr>
                                    <td>
                                        <div class="radio">
                                            <input type="radio" name="option8" id="radio8_1" value="A">
                                            <label for="radio8_1">
                                                                    A.计划好将做的事情以及何时做
                                                                </label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="radio">
                                            <input type="radio" name="option8" id="radio8_2" value="B">
                                            <label for="radio8_2">
                                                                    B.什么都不想就去
                                                                </label>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="errormessage">
                                    <td style="width: 1200px;">
                                        请选择选项
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <p>第二部分</p>
                            <p>在以下各对词中，你更倾向于哪一个。考虑以下这些词的意思，而不是它们好不好听或好不好看。</p>
                        </div>
                        <div id="part2">
                            <table class="table" id="div9">
                                <tr>
                                    <th style="width: 16%">
                                        <p>27、</p>
                                    </th>
                                    <td style="width: 42%">
                                        <div class="radio">
                                            <input type="radio" name="option9" id="radio9_1" value="A">
                                            <label for="radio9_1">
                                                                                A.抽象
                                                                            </label>
                                        </div>

                                    </td>
                                    <td style="width: 42%">
                                        <div class="radio">
                                            <input type="radio" name="option9" id="radio9_2" value="B">
                                            <label for="radio9_2">
                                                                            B.随意feafe
                                                                        </label>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                            <table class="table" id="div10">
                                <tr>
                                    <th style="width: 16%">
                                        <p>27、</p>
                                    </th>
                                    <td style="width: 42%">
                                        <div class="radio">
                                            <input type="radio" name="option10" id="radio10_1" value="A">
                                            <label for="radio10_1">
                                                                                    A.抽象f
                                                                                </label>
                                        </div>

                                    </td>
                                    <td style="width: 42%">
                                        <div class="radio">
                                            <input type="radio" name="option10" id="radio10_2" value="B">
                                            <label for="radio10_2">
                                                                                B.随意
                                                                            </label>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                            <table class="table" id="div11">
                                <tr>
                                    <th style="width: 16%">
                                        <p>27、</p>
                                    </th>
                                    <td style="width: 42%">
                                        <div class="radio">
                                            <input type="radio" name="option11" id="radio11_1" value="A ">
                                            <label for="radio11_1">
                                                                                        A.抽象抽象
                                                                                    </label>
                                        </div>

                                    </td>
                                    <td style="width: 42%">
                                        <div class="radio">
                                            <input type="radio" name="option11" id="radio11_2" value="B">
                                            <label for="radio11_2">
                                                                                    B.随意非甲
                                                                                </label>
                                        </div>
                                    </td>
                                </tr>
                            </table>

                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <p>第三部分</p>
                            <p>哪个答案最接近地描述了你通常的思考和行为方式</p>
                        </div>
                        <div id="part3">
                            <table class="table" id="div12">
                                <th>1、当你某日想去某个地方，你会 ？</th>
                                <tr>
                                    <td>
                                        <div class="radio">
                                            <input type="radio" name="option12" id="radio12_1" value="A">
                                            <label for="radio12_1">
                                                                            A.计划好将做的事情以及何时做
                                                                        </label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="radio">
                                            <input type="radio" name="option12" id="radio12_2" value="B">
                                            <label for="radio12_2">
                                                                            B.什么都不想就去
                                                                        </label>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="errormessage">
                                    <td style="width: 1200px;">请选择选项
                                    </td>
                                </tr>
                            </table>
                            <table class="table" id="div13">
                                <th>1、当你某日想去某个地方，你会 ？</th>
                                <tr>
                                    <td>
                                        <div class="radio">
                                            <input type="radio" name="option13" id="radio13_1" value="A">
                                            <label for="radio13_1">
                                                                                A.计划好将做的事情以及何时做
                                                                            </label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="radio">
                                            <input type="radio" name="option13" id="radio13_2" value="B">
                                            <label for="radio13_2">
                                                                                B.什么都不想就去
                                                                            </label>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="errormessage">
                                    <td style="width: 1200px;">请选择选项
                                    </td>
                                </tr>
                            </table>
                            <table class="table" id="div14">
                                <th>1、当你某日想去某个地方，你会 ？</th>
                                <tr>
                                    <td>
                                        <div class="radio">
                                            <input type="radio" name="option14" id="radio14_1" value="A">
                                            <label for="radio14_1">
                                                                                    A.计划好将做的事情以及何时做
                                                                                </label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="radio">
                                            <input type="radio" name="option14" id="radio14_2" value="B">
                                            <label for="radio14_2">
                                                                                    B.什么都不想就去
                                                                                </label>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="errormessage">
                                    <td style="width: 1200px;">请选择选项
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div id="Submit" style="padding:10px 0px;margin-bottom:10px"><a id="bt" href="javascript:;" class="button blue">提交</a></div>
                </form>
                <a href="javascript:;" class="scrolltop" style="display:none;"></a>
            </div>
        </div>
        <div id="divPowerBy" style="margin: 0 auto;" class="logofooter">
            <div class='wjfooter'><span id='spanPower'>DGUT提供技术支持</span></div>
        </div>
    </div>
</body>

</html>