<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="../static/css/wenjuan.css" type="text/css">
    <script src="../static/js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="../static/js/result.js"></script>
    <title>Document</title>
</head>

<body>
    </div>
    <div id="toptitle">
        <h1 class="htitle">大学生心理调查分析</h1>
    </div>
    <div id="divDesc" class="formfield">
        <p class="textDec" style="text-align:center;margin-top: 15px">您的答卷已经提交，感谢您的参与！</p>
    </div>
    <div class="container">
        <div class="panel panel-default" id="divResult">
            <div class="panel-heading">
                <h3 class="panel-title">
                    您的问卷测验结果分析如下:
                </h3>
            </div>
            <div class="panel-body">
                <h3>挑战者型</h3>
                <hr> 灵活、忍耐力强，实际，注重结果。觉得理论和抽象的解释非常无趣。喜欢积极地采取行动解决问题。注重当前，自然不做作，享受和他人在一起的时刻。喜欢物质享受和时尚。学习新事物最有效的方式是通过亲身感受和练习。
            </div>
        </div>
    </div>
</body>

</html>